.loginForm_helper {
    margin-bottom: 10px;
    margin-top: 10px;
}

.loginForm_helper_link {
    // color: #555;
    color: #777;
    transition: 0.14s;
    text-decoration: none;
}

.loginForm_helper_link:hover {
    color: #000;
    // color: rgb(50, 156, 218);
}