
<div fxLayoutAlign="center center" fxFlexFill>
    <mat-card fxFlex="25" *ngIf="mode == 1">
        <mat-toolbar style="background-color: white;">Quên mật khẩu</mat-toolbar>
        <form class="loginForm"
        fxLayoutAlign="stretch" 
        fxLayout="column"
        [formGroup]="requestForm" >
            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput
                placeholder="Ex. Cuongnn194239"
                formControlName="email" 
                name="email" required>
                <mat-error></mat-error>
            </mat-form-field>

            <div class="loginForm_helper" fxLayoutAlign="space-between">
                <a [routerLink]="['/login']" class="loginForm_helper_link">Đăng nhập</a>
                <a [routerLink]="['/changePassword']" class="loginForm_helper_link">Đổi mật khẩu</a>
            </div>

            <button mat-stroked-button type="submit"
                [disabled]="emailControl.invalid"
                (click)="requestResetPassword()">Gửi</button>
        </form>
    </mat-card>

    <mat-card fxFlex="25" *ngIf="mode == 2">
        <mat-toolbar style="background-color: white;">Đổi mật khẩu</mat-toolbar>
        <form class="loginForm"
        fxLayoutAlign="stretch" 
        fxLayout="column" 
        [formGroup]="changePassForm">
            <mat-form-field appearance="outline">
              <mat-label>Mật khẩu mới</mat-label>
              <input matInput
                type="password"
                formControlName="newPassword" 
                name="newPassword" required>
                <mat-error></mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Nhập mật khẩu mới lại</mat-label>
                <input matInput
                  type="password"
                  formControlName="confirmPassword" 
                  name="confirmPassword" required
                  [pattern]="newPasswordControl.value">
                  <mat-error></mat-error>
              </mat-form-field>

            <mat-error>{{ errorMessage }}</mat-error>
            
            <button mat-stroked-button type="submit"
                [disabled]="changePassForm.invalid"
                (click)="resetPassword(changePassForm.value)">Gửi</button>
        </form>
    </mat-card>
</div>