<div fxLayoutAlign="center center" fxFlexFill>
    <mat-card fxFlex="25">
        <mat-toolbar style="background-color: white;">Đăng nhập</mat-toolbar>
        <form class="loginForm" fxLayoutAlign="stretch" fxLayout="column" [formGroup]="loginForm">
            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput placeholder="Ex. Cuongnn194239" formControlName="email" name="email">
                <mat-error>{{this.getErrorEmail()}}</mat-error>
            </mat-form-field>
          
            <mat-form-field appearance="outline">
                <mat-label>Mật khẩu</mat-label>
                <input matInput placeholder="" type="password" formControlName="password" name="password" required>
                <mat-error>{{this.getErrorPassword()}}</mat-error>
            </mat-form-field>

            <div class="loginForm_helper" fxLayoutAlign="space-between">
                <a [routerLink]="['/changePassword']" class="loginForm_helper_link">Đổi mật khẩu</a>
                <a [routerLink]="['/resetPassword']" class="loginForm_helper_link">Quên mật khẩu</a>
            </div>

            <div class="loginForm_captchaForm" *ngIf="handleRender();">
                <ngx-recaptcha2 #recaptchaElement 
                    [siteKey]="siteKey"
                    (reset)="handleReset()"
                    (expire)="handleExpire()"
                    (load)="handleLoad()"
                    (success)="handleSuccess($event)"
                    [useGlobalDomain]="false"
                    [size]="sizeCaptcha"
                    [hl]="lang"
                    [theme]="themeCaptcha"
                    [type]="typeCaptcha"
                    formComtrolName="recaptcha"
                >
                </ngx-recaptcha2>
            </div>
            <button mat-stroked-button type="submit"
                [disabled]="loginForm.invalid"
                (click)="login()">Đăng nhập</button>
        </form>
        <p class="loginForm_signupreq">Bạn chưa có tài khoản? <a [routerLink]="['/register']" class="loginForm_helper_link">Đăng ký</a></p>
    </mat-card>
</div>