<div fxLayoutAlign="center center" fxFlexFill>
    <mat-card fxFlex="25">
        <mat-toolbar style="background-color: white;">Đổi mật khẩu</mat-toolbar>
        <form class="loginForm"
        fxLayoutAlign="stretch" 
        fxLayout="column" 
        [formGroup]="changePassForm">
            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput
                placeholder="Ex. Cuongnn194239"
                formControlName="email" 
                name="email" required>
                <mat-error>{{ getErrorMessage(emailControl) }}</mat-error>
            </mat-form-field>
          
            <mat-form-field appearance="outline">
                <mat-label>Mật khẩu cũ</mat-label>
                <input matInput
                    type="password" 
                    formControlName="oldPassword" 
                    name="password" required>
                <mat-error>{{ getErrorMessage(oldPasswordControl) }}</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Mật khẩu mới</mat-label>
                <input matInput 
                    type="password" 
                    name="newPassword" 
                    formControlName="newPassword" required>
                <mat-error>{{ getErrorMessage(newPasswordControl) }}</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Nhập mật khẩu mới lại</mat-label>
                <input matInput 
                    type="password" 
                    name="confirmPassword" 
                    formControlName="confirmPassword" required
                    [pattern]="newPasswordControl.value">
                <mat-error>{{ getErrorMessage(confirmPasswordControl) }}</mat-error>
            </mat-form-field>

            <div class="loginForm_helper" fxLayoutAlign="space-between">
                <a [routerLink]="['/login']" class="loginForm_helper_link">Đăng nhập</a>
                <a [routerLink]="['/resetPassword']" class="loginForm_helper_link">Quên mật khẩu</a>
            </div>

            <mat-error>{{ errorMessage }}</mat-error>

            <button mat-stroked-button type="submit"
                [disabled]="changePassForm.invalid"
                (click)="changePassword()">Đổi mật khẩu</button>
        </form>
    </mat-card>
</div>