<div class="home">
    <app-header class="home_header" [surName]="userData.name"></app-header>

    <div class="home_body" fxLayout="column" fxLayoutAlign="space-around center"
            infinite-scroll
            (scrolled)="onScrolledDown($event)">
        <app-post *ngFor="let post of postList | async"
                [post]="post"
                class="home_post"
                style="width: 50%;"
                (isDeleted)="handleDeletePost($event)"
                [userEmail]="userData.email"
                [userRole]="userData.role"></app-post>

    </div>
    <ng-template #NotFoundPost>
        <p>There's no result as expected</p>
    </ng-template>
    
    <div class="home_footer">

    </div>
</div>