<div fxLayoutAlign="center center" fxFill>
    <mat-card fxFlex="25">
        <mat-toolbar style="background-color: white;">Đăng ký</mat-toolbar>
        <form [formGroup]="registerForm" fxLayout="stretch" fxLayout="column">
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput [(ngModel)]="registerObj.email" placeholder="Ex. Cuongnn194239" formControlName="email">
              </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Tên đẩy đủ</mat-label>
                <input matInput [(ngModel)]="registerObj.name" placeholder="Ex. Nguyễn Năng Cường" formControlName="name">
            </mat-form-field>
            
            <mat-form-field appearance="outline">
                <mat-label>Mật khẩu</mat-label>
                <input matInput [(ngModel)]="registerObj.password" type="password" formControlName="password">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Nhập lại mật khẩu</mat-label>
                <input matInput [(ngModel)]="registerObj.passwordConfirm" type="password" formControlName="passwordCf" pattern="{{ registerObj.password }}">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Ngày sinh</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="date" [(ngModel)]="registerObj.date">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker">
                </mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Địa chỉ</mat-label>
                <input matInput type="text" [(ngModel)]="registerObj.address" formControlName="address">
            </mat-form-field>

            <mat-checkbox class="registerForm_checkbox" required>Tôi đồng ý với các điều khoản đã cho</mat-checkbox>

            <button mat-stroked-button type="submit" [disabled]="registerForm.invalid" (click)="register()">Đăng ký</button>
        </form>
    </mat-card>
</div>
